@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/fonts";
@import "libs";

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

code {
    background: rgba(#000, 0.2);
    padding: 5px;
    margin-right: 5px;
}

body {
    background: radial-gradient(ellipse at center, #3B414D 0%, #282C34 100%) no-repeat fixed;
    font-family: "Helvetica", Arial, sans-serif;
    align-items: center;
    text-align: center;
    line-height: 34px;
    color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.wrapper {
	width: 100%;
	@include wrapper();
	@include sm(max-width, 510px);
	@include md(max-width, 690px);
	@include lg(max-width, 930px);
	@include xl(max-width, 1110px);
	&__title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__subtitle {
		font-size: 18px;
		margin-bottom: 20px;
		a {
			color: cadetblue;
			font-weight: 600;
		}
	}
	&__icons {
		max-width: 300px;
		margin: 60px auto 0;
		display: flex;
		justify-content: space-between;
		.icon {
			height: 70px;
		}
	}
}