<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>gulp-scss-starter</title>
		//= includes/head.html
	</head>
	<body>
		<div class="wrapper">
			<div class="wrapper__subtitle">
				<p>Just make changes to the files <code>.html</code>, <code>.scss</code> or <code>.js</code>. Your web browser will reload the web page itself and Gulp will 
					re-build your project</p>
			</div>
			//= components/icons.html
		</div>
		//= includes/scripts.html
	</body>
</html>